/nbproject/private/
/lib.netutil/build/
/lib.tinkerforge/build/
/build/
/lib.miglayout/build/
/praxis.core/build/
/praxis.audio.loader/build/
/praxis.laf/build/
/praxis.nb.lookup/build/
/praxis.meta/build/
/praxis.settings/build/
/praxis.swing/build/
/praxis.util/build/
/praxis.impl/build/
/praxis.tinkerforge/build/
/praxis.hub/build/
/praxis.osc/build/
/praxis.script/build/
/praxis.gui/build/
/praxis.components/build/
/praxis.midi/build/
/praxis.video/build/
/praxis.video.render/build/
/praxis.video.pipes/build/
/praxis.video.software/build/
/lib.janino/build/
/praxis.java/build/
/praxis.video.java/build/
/lib.rsyntaxtextarea/build/
/praxis.texteditor/build/
/audio.ops/build/
/praxis.terminal/build/
/praxis.player/build/
/audio.ops.impl/build/
/lib.lwjgl/build/
/audio.ops.gpl/build/
/audio.pipes/build/
/audio.servers/build/
/audio.servers.javasound/build/
/praxis.video.opengl/build/
/lib.jna/build/
/audio.servers.jack/build/
/praxis.audio/build/
/audio.jnajack/build/
/lib.gstreamer-java/build/
/praxis.video.gstreamer/build/
/praxis.video.gstreamer-osx/build/
/praxis.video.gstreamer-win/build/
/praxis.laf/nbproject/private/
/praxis.hub/nbproject/private/
/lib.tinkerforge/nbproject/private/
/praxis.video/nbproject/private/
/praxis.midi/nbproject/private/
/audio.servers.javasound/nbproject/private/
/lib.rsyntaxtextarea/nbproject/private/
/praxis.gui/nbproject/private/
/praxis.audio/nbproject/private/
/praxis.video.pipes/nbproject/private/
/praxis.video.render/nbproject/private/
/praxis.java/nbproject/private/
/lib.janino/nbproject/private/
/praxis.util/nbproject/private/
/praxis.video.opengl/nbproject/private/
/praxis.impl/nbproject/private/
/audio.pipes/nbproject/private/
/lib.lwjgl/nbproject/private/
/audio.servers.jack/nbproject/private/
/praxis.audio.loader/nbproject/private/
/praxis.osc/nbproject/private/
/audio.ops.gpl/nbproject/private/
/lib.gstreamer-java/nbproject/private/
/audio.jnajack/nbproject/private/
/praxis.player/nbproject/private/
/praxis.video.gstreamer/nbproject/private/
/praxis.video.java/nbproject/private/
/audio.ops/nbproject/private/
/praxis.script/nbproject/private/
/praxis.video.gstreamer-win/nbproject/private/
/praxis.video.software/nbproject/private/
/lib.miglayout/nbproject/private/
/praxis.texteditor/nbproject/private/
/lib.jna/nbproject/private/
/audio.ops.impl/nbproject/private/
/praxis.tinkerforge/nbproject/private/
/lib.netutil/nbproject/private/
/praxis.settings/nbproject/private/
/praxis.components/nbproject/private/
/praxis.nb.lookup/nbproject/private/
/praxis.terminal/nbproject/private/
/audio.servers/nbproject/private/
/praxis.core/nbproject/private/
/praxis.swing/nbproject/private/
/praxis.meta/nbproject/private/
/praxis.video.gstreamer-osx/nbproject/private/
/lib.commons-compiler/build/
/lib.compiler.pjc/build/
/lib.compiler/build/
/lib.commons-compiler/nbproject/private/
/lib.compiler/nbproject/private/
/lib.compiler.pjc/nbproject/private/
/praxis.nb.classpath/build/
/praxis.nb.classpath/nbproject/private/
/praxis.compiler/nbproject/private/
/lib.janino.commons/build/
/praxis.compiler.javac/build/
/praxis.compiler/build/
/praxis.compiler.javac/nbproject/private/
/lib.janino.commons/nbproject/private/
/praxis.logging/nbproject/private/
/praxis.logging/build/
/lib.jogl/build/
/lib.processing/build/
/lib.jogl/nbproject/private/
/lib.processing/nbproject/private/
/praxis.video.pgl/nbproject/private/
/praxis.video.pgl/build/
/dist/
/praxis.code/build/
/praxis.code/nbproject/private/
/praxis.video.code/build/
/praxis.video.code/nbproject/private/
/praxis.video.pgl.custom/build/
/praxis.video.pgl.code/build/
/praxis.video.pgl.code/nbproject/private/
/praxis.hub.net/build/
/praxis.hub.net/nbproject/private/
/praxis.core.components/build/
/praxis.core.components/nbproject/private/
/praxis.core.factory/build/
/praxis.video.factory/build/
/praxis.core.factory/nbproject/private/
/praxis.video.factory/nbproject/private/
/praxis.video.gstreamer-osx/release/modules/lib/macosx64/
/praxis.video.gstreamer-win/release/modules/lib/windows32/
/praxis.video.gstreamer-win/release/modules/lib/windows64/
/praxis.core.code/build/
/praxis.core.code/nbproject/private/
/praxis.audio.code/build/
/praxis.audio.factory/build/
/praxis.audio.factory/nbproject/private/
/praxis.tracker/build/
/praxis.audio.code/nbproject/private/
/praxis.tracker/nbproject/private/
/praxis.video.gst1/build/
/lib.gst1-java-core/build/
/lib.gst1-java-core/nbproject/private/
/praxis.video.gst1/nbproject/private/